[submodule "vendor/src/tornado-utils"]
	path = vendor/src/tornado-utils
	url = git://github.com/peterbe/tornado-utils.git
[submodule "vendor/src/MongoLite"]
	path = vendor/src/MongoLite
	url = git://github.com/namlook/MongoLite.git
[submodule "vendor/src/tornado"]
	path = vendor/src/tornado
	url = git://github.com/facebook/tornado.git
[submodule "vendor/src/tornadio2"]
	path = vendor/src/tornadio2
	url = git://github.com/MrJoes/tornadio2.git
