<!doctype html>
<html>
<head>
    <title>{% block title %}{{ page_title }}{% end %}</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="description" content="Find out who on Twitter follows you back (and who is just too cool for you)">
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    {% block extra_head %}{% end %}
</head>
<body>
<header>

  <h1><a href="/">Too Cool For Me<span class="q">?</span></a></h1>
  {% block home_link %}<p id="home-link"><a href="/">&larr; home</a></p>{% end %}
  {% block extra_header %}
  {% end %}
</header>

<section id="content">
{% block content %}

{% end %}
</section>

<footer>
<p>Brought to you by <a href="http://www.peterbe.com/">Peter Bengtsson</a>
 (<a href="https://twitter.com/#%21/peterbe">twitter</a>)
 &bull;
<a href="http://westiseast.co.uk/">Design by Chris West</a>
 &bull;
<a href="https://github.com/peterbe/toocool">code on github</a>
</p>
</footer>
{% block extra_js %}{% end %}
</body>
</html>
