{% extends "base.html" %}


{% block extra_head %}
<style>
</style>
{% end %}

{% block content %}
<h1>{{ page_title }}</h1>

<table>
  {% for i, tweeter in enumerate(ratios) %}
  <tr>
    <td>{{ i + 1 }}.</td>
    {% if user %}
    <td>
      {% if tweeter['username'] == user %}
      {{ username }} &larr; me me me!
      {% else %}
      <a href="/following/{{ tweeter['username'] }}">{{ tweeter['username'] }}</a>
      {% end %}
    </td>
    {% else %}
    <td><a href="https://twitter.com/#!/{{ tweeter['username'] }}"
           title="{{ tweeter['name'] }} (following {{ tweeter['following'] }}, followed by {{ tweeter['followers'] }})"
           >{{ tweeter['username'] }}</a></td>
    {% end %}
    <td>{{ '%.1f' % tweeter['ratio'] }}</td>
  </tr>
  {% end %}
</table>

{% end %}
