{% extends "base.html" %}


{% block extra_head %}
<style>
div.clearer {clear: both; line-height: 0; height: 0;}
#followsyounot {
  float:right;
  width:50%;
  border-left: 1px solid #ccc;
}
#split div { padding:20px; }
a.profile {
  font-weight:bold;
  text-decoration: none;
  color:black;
}
a.profile:hover { text-decoration:underline; }
a.compare { font-size: 0.7em; }
ul li { list-style: none; margin:1px 10px; clear:left; }
li a.thumbnail { float:left; padding:3px; margin:0 5px 0 0; }
</style>
{% end %}

{% block content %}

<h2>{{ page_title }}</h2>

<div id="split">
  <div id="followsyounot">
    <h3 class="followsyounot">Too cool for me</h3>
    <ul>
    </ul>
  </div>
  <div id="followsyou">
    <h3 class="followsyou">Follows me!</h3>
    <ul>
    </ul>
  </div>
</div>

<div class="clearer">&nbsp;</div>

<ul id="users" style="display:none">
{% for username in screen_names %}
<li id="user__{{ username }}">
<a href="https://twitter.com/#!{{ username }}" class="thumbnail"
><img width="48" height="48"
   src="http://api.twitter.com/1/users/profile_image/{{ username }}.png"></a>
<a href="https://twitter.com/#!{{ username }}" class="profile"
>{{ username }}</a><br>
<a href="/following/{{ username }}" class="compare">compare</a>
</li>
{% end %}
</ul>

{% end %}

{% block extra_js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>
function lookup(usernames) {
  $.getJSON('/json', {'usernames': usernames.join(',')}, function (response) {
      if (response.ERROR) {
        alert('ERROR: ' + response.ERROR);
        return;
      }
      var c;
      $.each(response, function(x, y) {
        if (y)
          c = $('#followsyou ul');
        else
          c = $('#followsyounot ul');
        $('#user__' + x).detach().appendTo(c);
      });
  });
}

var MAX = 100;
$(function() {
  var buckets = [], username, usernames = [];
  $('#users li').each(function() {
    username = $(this).attr('id').replace('user__', '');
    usernames.push(username);
    if (usernames.length == MAX) {
      buckets.push(usernames);
      usernames = [];
    }
  });
  if (usernames.length) buckets.push(usernames);
  for (var i in buckets) {
    lookup(buckets[i]);
  }
});

</script>
{% end %}
