{% extends "base.html" %}

{% block extra_header %}
<h3>Service to allow you to find out who of the people you follow also follow you on <a href="https://twitter.com">Twitter</a></h3>
{% end %}


{% block content %}


{% if user %}
<p><strong>{{ user }}</strong>
<span style="font-size:0.7em">(<a href="/auth/logout/">Log out</a>)</span>
</p>
<p><a href="/test">Test the service</a></p>

<p>Drag this link (bookmarklet) into your browser's bookmarks toolbar:
<a style="font-weight:bold" onclick="return false"
   href="javascript:void((function(){var%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('src','{{ full_bookmarklet_url }}');document.body.appendChild(e)})())">Too cool for me?</a>
</p>

{% else %}
<p>stranger<br>
<a href="/auth/twitter/">Log in with Twitter</a>
<span style="font-size:0.8em;font-weight:bold">(Read-only Twitter authentication)</span>
</p>
{% end %}

<div style="margin-top:60px">
<h3>What the heck is this? Watch the screencast:</h3>
<iframe width="420" height="315" src="http://www.youtube.com/embed/wv-i54IhTfM?rel=0" frameborder="0" allowfullscreen></iframe>
<p style="font-size:0.8em">Or, <a href="http://youtu.be/wv-i54IhTfM">watch it on YouTube</a></p>
</div>

{% end %}
