{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ static_url('fancybox/jquery.fancybox-1.3.4.css') }}" type="text/css" media="screen">
<style>
.shots a img { border:1px solid #efefef; margin:15px; padding:3px; }
</style>
{% end %}


{% block content %}

<p class="shots">
<a href="{{ static_url('images/screenshots/bookmarklet-in-toolbar.png') }}" title="Bookmarklet in toolbar"
><img src="{{ static_url('images/screenshots/bookmarklet-in-toolbar_small.png') }}" alt="Bookmarklet in toolbar"></a>

<a href="{{ static_url('images/screenshots/on-twitter.png') }}" title="On Twitter"
><img src="{{ static_url('images/screenshots/on-twitter_small.png') }}" alt="On Twitter"></a>

<a href="{{ static_url('images/screenshots/follows-me.png') }}" title="Someone who follows me"
><img src="{{ static_url('images/screenshots/follows-me_small.png') }}" alt="Someone who follows me"></a>

<a href="{{ static_url('images/screenshots/too-cool.png') }}" title="Someone who is too cool for me"
><img src="{{ static_url('images/screenshots/too-cool_small.png') }}" alt="Someone who is too cool for me"></a>

<a href="{{ static_url('images/screenshots/everyone.png') }}" title="Complete list of all people you follow and if they follow you"
><img src="{{ static_url('images/screenshots/everyone_small.png') }}" alt="Complete list of all people you follow and if they follow you"></a>

</p>

{% end %}

{% block extra_js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="{{ static_url('fancybox/jquery.fancybox-1.3.4.pack.js') }}"></script>
<script src="{{ static_url('fancybox/jquery.easing-1.3.pack.js') }}"></script>

<script>
(function($) {
  var cache = [];
  // Arguments are image paths relative to the current page.
  $.preLoadImages = function() {
    var args_len = arguments.length;
    for (var i = args_len; i--;) {
      var cacheImage = document.createElement('img');
      cacheImage.src = arguments[i];
      cache.push(cacheImage);
    }
  }
})(jQuery);

$(function() {

  $('.shots a').fancybox({
    'transitionIn': 'elastic',
    'transitionOut': 'elastic',
    'easingIn'      : 'easeOutBack',
    'easingOut'     : 'easeInBack',
    'titlePosition': 'inside',
    onComplete: function(element) {
      var nth, href = $(element).attr('href');
      $('.shots a').each(function(i, e) {
        if ($(e).attr('href') == href) {
	  location.hash = '' + (i + 1);
	}
      });
    }
  });
  
  $('.shots a').each(function(i) {
    $.preLoadImages($(this).attr('href'));
    if (location.hash) {
      if ('#' + (i + 1) == location.hash) {
        $(this).trigger('click');
      }
    }
  });
  
});
</script>
{% end %}
